.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
h1 {
  font-size: 25px;
  font-weight: 100;
}
#menu-container {
  width: 40px;
  height: 30px;
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#menu-container span {
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 10px;
}
main h1 {
  font-size: 40px;
  font-weight: 700;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}
main,
#skills-container {
  width: 100vw;
  background: white;
}
#skills-container {
  min-height: 250px;
}
figcaption,
#contact {
  width: 100vw;
  min-height: 360px;
  border: 1px red solid;
  background: #ececec;
}

.intro-container {
  height: 150px;
  /* border: 2px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}

navbar {
  width: 100vw;
  height: 90px;
  background: black;
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  min-height: 50px;
  width: 100vw;
  background: #333;
}
