.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#drop-down-menu {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: rgb(17, 17, 17, 0.97);
  /* background: black; */
  position: fixed;
  bottom: 100vh;
  color: white;
}
#drop-down-menu ul {
  height: calc(100vh - 90px);
  width: 100vw;
}
ul a {
  height: 25%;
  width: 100vw;
  color: white;
}
article a {
  color: #818181;
}

@keyframes dropMenu {
  from {
    top: 0px;
  }
  to {
    top: 100vh;
  }
}
.p-dividers span,
span.divider {
  font-size: 22px;
}
p {
  line-height: 25px;
}
.intro-container {
  height: 300px;
}
div.divider {
  width: 235px;
  height: 2px;
  border-radius: 100%;
  background: black;
}
navbar {
  z-index: 2;
  width: 100vw;
  height: 90px;
  background: rgb(17, 17, 17, 0.95);
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

navbar:nth-child(2) {
  padding: 0 20px;
}
.show-border {
  /* border: 1px red dotted; */
}
.title-and-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.text-center {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: 100;
}
h3 {
  font-size: 25px;
}
#menu-container {
  width: 40px;
  height: 30px;
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#menu-container:active {
  /* background: blue; */
}

#menu-container span {
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 10px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: 130px;
  font-weight: 800;
  letter-spacing: 4px;
  position: relative;
  top: 25px;
}
main h2 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -3px;
}

main {
  margin-top: 90px;

  flex-direction: column;

  width: 100vw;
}
main,
#contact-container {
  background: white;
}
#skills-container {
  height: 900px;
}

#contact-container,
main {
  min-height: 430px;
}
figcaption {
  height: 1700px;
  background: #ececec;
  padding-top: 25px;
}
figcaption article {
  height: 1500px;
}

.flex-column {
  /* height: 150px; */
  /* border: 2px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

footer {
  min-height: 70px;
  width: 100vw;
  background: rgb(17, 17, 17, 0.8);
}
article {
  min-height: 200px;
  max-width: 800px;
  width: 100vw;
  /* border: 1px blue dotted; */
}
article img {
  width: 75px;
  margin: 14px 14px;
}
#about-container {
  height: 1000px;
}
#about-container article {
  height: 425px;
  text-indent: 20px;
}
article a img:hover {
  transform: scale(1.2);
}
.icon-hover:hover {
  background: whitesmoke;
}
.github-circle {
  width: 25px;
  border-radius: 50%;
}
.media-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
header {
  width: 600px;
  height: 90px;
  display: none;
  justify-content: space-around;
  align-items: center;
}
.card {
  border-radius: 5px;
  box-shadow: 0.5px 1px 4px 0.1px black;
}
.single-project {
  width: 100%;
  height: auto;
}
.single-project p {
  padding: 24px 22px;
  text-indent: 25px;
}
#qode-img {
  width: 250px;
}
#kewey-img {
  width: 175px;
}
#about-container p {
  max-width: 500px;
}
@media (min-width: 660px) {
  .single-project p {
    padding: 24px 100px;
  }
}
@media (min-width: 768px) {
  #menu-container {
    display: none;
  }
  header {
    display: flex;
  }
  #drop-down-menu {
    display: none;
  }
  #about-container {
    height: 760px;
  }
  #skills-container {
    height: 500px;
  }
  .single-project {
    width: 680px;
  }
  /* figcaption article {
    height: 1000px;
  } */

  figcaption {
    height: 1300px;
  }
}
@media (min-width: 1024px) {
  main {
    height: 600px;
  }
  /* @media (min-width: 1440px) {
    figcaption {
    }
  } */
  .intro-container {
    height: 348px;
  }
  main h1 {
    font-size: 200px;
  }
  main h2 {
    font-size: 88px;
  }
}
a {
  color: white;
}
i {
  color: white;
  font-size: 20px;
}
i:hover {
  color: #ececec;
}
